@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

:root {
	--primary-color: #26333c;
	--secondary-color: #a8b0bc;
	--text-color: white;
}

body {
	font-family: "Cabin";
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
}

#tentacles {
	width: 50px;
}

header {
	/* display: flex;
	background-color: lightblue;
	padding: 1%;
	align-items: center;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px; */
	position: relative;
	width: 100%;
	height: 400px;
}

.stats-container {
	display: flex;
}

.stats-card {
	background-color: var(--secondary-color);
	border-radius: 7px;
	padding: 1%;
	margin: 1%;
	width: 100%;
	text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
	font-size: 50px;
}

#games-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.game-img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 10px #ffffff;
}

.game-card {
	background-color: #ffffff;
	padding: 1%;
	margin: 1%;
	width: 300px;
	text-align: center;
	border-radius: 7px;
	transition: transform 0.3s ease;
	overflow: hidden;
}

.game-card:hover {
	cursor: pointer;
	box-shadow: 0 0 30px lightblue;
	transform: scale(1.05);
}

.game-card-description {
	text-align: left;
}

.button-container {
	text-align: center;
}

button {
	font-family: "Cabin";
	border: none;
	padding: 1%;
	margin: 1%;
	border-radius: 7px;
}

/* #description-container {
	background-color: aqua;
} */

.center {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.center-align {
	text-align: center;
}

.hero-image {
	width: 100%;
	height: 50vh;
	background-image: url("assets/sea-monster-attack.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}

.header-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
	text-shadow: 0px 0px 10px black;
	letter-spacing: 2px;
	font-size: 20px;
	position: relative;
	z-index: 2;
}

.grid-container {
	display: grid;
}

#about-us-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
	/* margin-left: 300px; */
}

#about-us-info {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
	height: 100%;
	text-align: left;
	padding-left: 20px;
	align-items: center;
	display: flex;
}

/* #unfunded-games {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
} */

.about-us-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	/* grid-template-rows: auto auto;
	gap: 16px; */
}

.grid-container div {
	/* background-color: white; */
	text-align: center;
	/* border: 1px solid white; */
}

main {
	position: relative;
	z-index: 1;
}

.hero-image::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 400px;
	background: linear-gradient(
		to bottom,
		rgb(255, 255, 255, 0),
		var(--primary-color)
	);
}

/* #logo-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	text-shadow: 0px 0px 10px black;
	letter-spacing: 2px;
	font-size: 20px;
	position: relative;
	z-index: 2;
} */

.rotated-text {
	margin: 70px;
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 100px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--text-color);
	text-shadow: 0px 0px 10px black;
	/* letter-spacing: 2px; */
	font-size: 20px;
}

.stretched-text {
	display: inline-block;
	transform: scaleY(2);
	transform-origin: bottom;
}

.info-container {
	width: 92%;
	margin: auto;
	height: 100%;
	/* border: 2px solid white; */
}
